---

import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <section class="container">
      <ul>
        <li><a href="/">frontpage</a></li>
        <li><a href="/single">single</a></li>
        <li><a href="/page">page</a></li>
        <li><a href="/archive">archive</a></li>
        <li><a href="/404">404</a></li>
        <li><a href="/cheatsheet">cheatsheet</a></li>
      </ul>
    </section>
  </main>
</Layout>
