---
const {
  title = "TIME FOR MINIMALISM",
  description = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, nostrum, cumque culpa provident aliquam commodi assumenda laudantium magnam illo nostrum.",
  link = "#",
  btn_label = "Read More",
  date = "Jul 10",
  author = "Admin",
  imgsrc = "/images/blog/stage1.jpg",
} = Astro.props;
---

<div class="col">
  <div class="card card__article text-bg-secondary">
    <a href={link}>
      <img src={imgsrc} width="512" height="512" alt="" class="card-img-top" />
    </a>
    <div class="card-body">
      <h3 class="card-title h4">
        <a href="#" class="text-white">{title}</a>
      </h3>
      <p class="card-text">
        {description}
      </p>
    </div>
    <footer class="card-footer">
      <a href="#" class="btn btn-outline-light">Read More</a>
    </footer>
  </div>
</div>
<style lang="scss">
  .card.card__article {
    border: 0;
    height: 100%;
    .card-img-top {
      aspect-ratio: 4/3;
      object-fit: cover;
    }
    .card-text {
      font-size: 14px;
    }
    .card-footer {
      border: 0;
      background: transparent;
      padding-bottom: 1rem;
    }
  }
</style>
