<div
  id="hero"
  class="sm-img-bg-fullscr parallax-section py-5 bg-dark"
>

  <div
    class="container sm-content-cont text-left js-height-fullscr d-flex align-items-center"
  >
    <div class="col-lg-6">
      <div class="opacity-scroll2 relative" style="opacity: 1;">
        <h1
          class="cd-headline zoom font-white display-1 text-white"
          style="line-height: 0.9"
        >
           Unlock the Wonders of Science at Petrosains
        </h1>
        <p class="font-white lead hide-0-736 mb-4 text-white">
          Perfect for School Holidays and More. Don't miss out on the
          opportunity to enrich your family's lives with the joy of science. Get
          your tickets now!
        </p>

        <div class="center-0-478">
          <a href="#" class="btn btn-secondary">Buy Tickets</a>
          <a href="#" class="btn btn-outline-light">View Promotions</a>
        </div>
      </div>
    </div>
    <div class="col-lg-5 mx-auto">
      <!-- <img
        src="/petrosains/images/petrosains_2015-201502151613-11.jpg"
        class="rounded-lg"
        style="16/10"
      /> -->
  <img class="blob-masthead" src="/placeholder.svg" alt="" />

    </div>
  </div>
</div>
