---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import Social from "../components/_Social.astro";

import "../styles/petrosains.scss";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
  </head>

  <body>
    <Header />
    <slot />

    <Social />

    <Footer />
  </body>
</html>
